.button {
  display: block;
  border: 3px solid $white;
  border-radius: 29px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
