.contacts {
  @include wrapper;
  position: relative;
  // z-index: 1;
  padding-top: 40px;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 51px;
  }
}

.contacts__intro {
  p {
    margin: 0;
  }
  padding-bottom: 32px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $blue-700;
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    width: 100%;
    font-size: 40px;
    line-height: 54px;
    padding-top: 8px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  margin: 0;

  @media (min-width: $breakpoint-large) {
    padding-bottom: 20px;
  }
}

.contacts__item {
  font-size: 24px;
  line-height: 33px;
  color: $pink;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 33px;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 25px;
  }
}

.contacts__phone {
  text-align: center;
  margin-bottom: 18px;

  @media (min-width: $breakpoint-medium) {
    width: 50%;
    padding-right: 10px;
  }

  @media (min-width: $breakpoint-large) {
    width: 33%;
    padding-right: 15px;
    padding-top: 8px;
  }
}

.contacts__email {
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    width: 50%;
    padding-left: 10px;
  }

  @media (min-width: $breakpoint-large) {
    width: 33%;
    order: 1;
    padding-top: 8px;
    padding-left: 13px;
  }
}

.contacts__address {
  text-align: center;
  padding-top: 7px;

  @media (min-width: $breakpoint-medium) {
    width: 100%;
    padding-top: 13px;
  }

  @media (min-width: $breakpoint-large) {
    width: 33%;
    padding-top: 7px;
  }
}
