.costs {
  padding-top: 100px;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $grey-200;
    z-index: -1;
    bottom: 0;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 4%);
  }

  @media (min-width: $breakpoint-medium) {
    padding-top: 96px;
    padding-bottom: 75px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 11%);
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 157px;
    padding-bottom: 102px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 19%);
  }
}

.costs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.costs__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 28px;
  padding-bottom: 33px;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }

  button {
    margin: 0 8px;
    align-self: center;
  }
}
