.cost-table {
  border-spacing: 0;

  .cost-table__body-item {
    &:first-child .cost-table__feature-name {
      border-top-left-radius: 4px;
    }

    &:first-child .cost-table__availability-cell {
      border-top-width: 2px;
      border-top-color: $blue-700;
    }

    &:last-child .cost-table__feature-name {
      border-bottom-left-radius: 4px;
    }

    &:last-child .cost-table__availability-cell:last-child {
      border-bottom-right-radius: 4px;
    }
  }

  p {
    margin: 0;
  }
}

.cost-table__header {
  text-transform: uppercase;
  color: $white;
}

.cost-table__empty-cell {
  @media (max-width: $breakpoint-small-only) {
    display: none;
  }
}

.cost-table__header-item {
  position: relative;
  background-color: $blue-700;
  border-right: 1px solid $grey-100;
  border-left: 1px solid $grey-100;
  padding-top: 23px;
  padding-bottom: 18px;
  min-width: 278px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 22px;
    padding-bottom: 0;
    min-width: auto;
    width: 155px;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 16px;
    padding-bottom: 21px;
    width: 236px;
  }

  &:last-child {
    border-right: 2px solid $blue-700;
    border-top-right-radius: 4px;
  }

  &:nth-child(2) {
    border-left: 2px solid $blue-700;
    border-top-left-radius: 4px;
  }

  &--hit::after {
    position: absolute;
    content: "";
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;
    top: 0;
    left: -2px;

    @media (min-width: $breakpoint-medium) {
      background-image: url("../img/hit-medium.svg");
      left: -3px;
    }

    @media (min-width: $breakpoint-large) {
      background-image: url("../img/hit.svg");
      left: 0;
    }
  }
}

.cost-table__title {
  font-size: 16px;
  line-height: 10px;

  @media (min-width: $breakpoint-large) {
    font-size: 18px;
    line-height: 30px;
  }
}

.cost-table__usd-price {
  font-size: 18px;
  line-height: 45px;
  font-weight: 300;

  @media (min-width: $breakpoint-large) {
    font-size: 24px;
    line-height: 30px;
  }
}

.cost-table__availability-cell {
  border: 1px solid $grey-100;
  position: relative;
  padding: 18px 1px 17px 0;
  background-color: $white;

  @media (min-width: $breakpoint-medium) {
    padding: 15px 20px;
  }
}

.cost-table__feature-name {
  display: none;
  text-align: left;
  font-weight: normal;
  background-color: $white;
  border: 1px solid $grey-100;
  padding: 11px 16px;
  width: 155px;

  @media (min-width: $breakpoint-medium) {
    display: table-cell;
  }

  @media (min-width: $breakpoint-large) {
    padding: 15px 20px;
    width: 233px;
    font-size: 18px;
    line-height: 30px;
  }

  &--inside {
    text-transform: uppercase;
    padding-left: 20px;

    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }
}

.cost-table__availability-cell--yes::before {
  position: absolute;
  content: "";

  top: calc(50% - 13px);
  right: 18px;
  width: 30px;
  height: 15px;
  border: solid $green-700;
  border-width: 0 0 3px 3px;
  border-radius: 2px;
  transform: rotate(-45deg);

  @media (min-width: $breakpoint-medium) {
    right: calc(50% - 16px);
  }
}

.cost-table__availability-cell--no {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 15px;
    width: 37px;
    height: 3px;
    background: $red;
    border-radius: 2px;

    @media (min-width: $breakpoint-medium) {
      right: calc(50% - 19px);
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
