.download {
  background-color: $blue-700;
  background-image: url("../img/bg-small.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-bottom: 15px;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-small@2x.jpg");
    background-size: 810px auto;
  }

  @media (min-width: $breakpoint-medium) {
    background-image: url("../img/bg-medium.jpg");
    padding-bottom: 96px;
    padding-top: 71px;
    background-position: 50% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-medium@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $breakpoint-large) {
    background-image: url("../img/bg-large.jpg");
    padding-bottom: 107px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-large@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.download__wrapper {
  @media (min-width: $breakpoint-medium) {
    @include wrapper;
  }
}

.download__inner-wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}

.download__image {
  margin-left: -20px;
  max-width: none;
  display: block;

  @media (min-width: $breakpoint-medium) {
    position: absolute;
    width: 660px;
    height: 545px;
    top: 112px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $breakpoint-large) {
    width: 1050px;
    height: 645px;
    left: 16px;
    top: 138px;
    margin-left: 0;
  }
}

.download__slogan {
  margin: 0;
  color: $white;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 92px;
  padding-bottom: 28px;
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    font-size: 40px;
    line-height: 48px;
    width: 50%;
    padding-right: 50px;
    padding-bottom: 9px;
    padding-top: 133px;
    padding-left: 20px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 50px;
    line-height: 68px;
    width: 30%;
    padding-right: 4px;
    padding-bottom: 18px;
    padding-top: 138px;
    padding-left: 0;
  }
}

.download__list {
  position: relative;
  z-index: 1;
  background-color: $blue-700;

  @media (min-width: $breakpoint-medium) {
    background-color: transparent;
  }
}

.download__list-wrapper {
  padding-top: 29px;
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-medium) {
    width: 50%;
    padding-top: 20px;
  }

  @media (min-width: $breakpoint-large) {
    width: 30%;
  }
}

.download__button {
  color: $white;
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    width: 300px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 21px;
  }

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: rgba($pink, 0.3);
    background-color: $white;
  }
}

.download__button-wrapper {
  @media (max-width: $breakpoint-small-only) {
    @include wrapper;
  }
}

.download__info {
  color: $white;
  text-align: center;
  font-weight: 300;
  padding-top: 3px;

  @media (min-width: $breakpoint-medium) {
    font-size: 18px;
    width: 50%;
    padding-top: 10px;
    padding-right: 10px;
  }

  @media (min-width: $breakpoint-large) {
    width: 33%;
    padding-top: 27px;
    padding-right: 10px;
  }
}

.download__link-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 32px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 45px;
    padding-right: 14px;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 68px;
    padding-right: 0;
  }
}

.download__link {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--apple {
    background-image: url("../img/apple-logo.svg");
  }

  &--android {
    background-image: url("../img/android-logo.svg");
  }

  &--windows {
    background-image: url("../img/microsoft-logo.svg");
  }
}
