.download {
  background-color: $blue-700;
  background-image: url("../../img/bg-small.jpg");
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 18px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-small@2x.jpg");
    background-size: 810px auto;
  }

  @media (min-width: $breakpoint-medium) {
    background-image: url("../../img/bg-medium.jpg");
    padding-bottom: 39px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-medium@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $breakpoint-large) {
    background-image: url("../../img/bg-large.jpg");
    padding-bottom: 107px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-large@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.download__wrapper {
  @include wrapper;
  min-height: 630px;
  position: relative;
  z-index: 1;

  @media (min-width: $breakpoint-medium) {
    min-height: 581px;
  }
}

.download__image {
  margin-left: -20px;
  max-width: 200%;

  @media (min-width: $breakpoint-medium) {
    position: absolute;
    width: 660px;
    height: 545px;
    top: 73px;
    z-index: -1;
  }

  @media (min-width: $breakpoint-large) {
    width: 746px;
    height: 645px;
    left: 198px;
    top: 206px;
  }
}

.download__slogan {
  margin: 0;
  color: $white;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 24px;
  padding-bottom: 28px;
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    font-size: 40px;
    line-height: 48px;
    width: 50%;
    padding-top: 94px;
    padding-left: 29px;
    padding-right: 40px;
    padding-bottom: 9px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 50px;
    line-height: 68px;
    width: 30%;
    padding-right: 12px;
    padding-bottom: 18px;
    padding-top: 206px;
  }
}

.download__list {
  padding-top: 22px;
  padding-bottom: 38px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $breakpoint-medium) {
    width: 50%;
  }

  @media (min-width: $breakpoint-large) {
    width: 30%;
  }
}

.download__button {
  color: $white;
  width: 100%;

  @media (min-width: $breakpoint-medium) {
    width: 300px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 21px;
  }

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: rgba($pink, 0.3);
    background-color: $white;
  }
}

.download__info {
  color: $white;
  text-align: center;
  font-weight: 300;
  padding-top: 17px;

  @media (min-width: $breakpoint-medium) {
    font-size: 18px;
    width: 50%;
    padding-top: 37px;
  }

  @media (min-width: $breakpoint-large) {
    width: 33%;
    padding-top: 77px;
    padding-right: 10px;
  }
}

.download__link-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
}

.download__link {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    width: 47px;
    height: 56px;
  }

  &--apple::before {
    background-image: url("../../img/apple-logo.svg");
    top: -8px;
    left: -9px;

    @media (min-width: $breakpoint-medium) {
      top: 6px;
      left: -6px;
    }

    @media (min-width: $breakpoint-large) {
      top: 25px;
      left: -4px;
    }
  }

  &--android::before {
    background-image: url("../../img/android-logo.svg");
    top: -2px;
    left: -20px;

    @media (min-width: $breakpoint-medium) {
      top: 11px;
      left: -27px;
    }

    @media (min-width: $breakpoint-large) {
      top: 33px;
      left: -21px;
    }
  }

  &--windows::before {
    background-image: url("../../img/microsoft-logo.svg");
    top: 4px;
    left: -35px;

    @media (min-width: $breakpoint-medium) {
      top: 14px;
      left: -52px;
    }

    @media (min-width: $breakpoint-large) {
      top: 37px;
      left: -42px;
    }
  }
}
