.editor {
  padding-bottom: 71px;

  @media (min-width: $breakpoint-medium) {
    padding-bottom: 0;
  }
}

.editor__wrapper--bg {
  background-color: $grey-200;
  padding-bottom: 31px;

  @media (min-width: $breakpoint-medium) {
    padding-bottom: 0;
  }

  @media (min-width: $breakpoint-large) {
    background-color: transparent;
  }
}

.editor__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image range-group"
      "image button-group";
    gap: 20px;
  }

  @media (min-width: $breakpoint-large) {
    background-color: $grey-200;
    width: 940px;
    gap: 0;
  }
}

.editor__header {
  @include wrapper;
}

.editor__intro {
  margin: 0;
  line-height: 30px;

  @media (min-width: $breakpoint-medium) {
    font-size: 18px;
  }
}

.editor__intro-wrapper {
  color: $blue-700;
  background-color: $white;
  padding-top: 22px;
  padding-bottom: 43px;
  text-align: center;
  line-height: 30px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 64px;
    padding-bottom: 70px;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 58px;
    padding-bottom: 67px;
  }
}

.editor__image {
  padding-top: 20px;

  @media (min-width: $breakpoint-medium) {
    grid-area: image;
    width: 300px;
    height: 400px;
    margin-top: 57px;
    margin-bottom: 55px;
    padding-top: 0;
  }

  @media (min-width: $breakpoint-large) {
    margin-left: 70px;
    margin-right: 80px;
  }
}

.editor__settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

.editor__button-group {
  margin-top: 39px;

  @media (min-width: $breakpoint-medium) {
    padding-left: 26px;
    padding-right: 13px;
    padding-top: 22px;
  }

  @media (min-width: $breakpoint-large) {
    margin-top: 118px;
    display: flex;
  }
}

.editor__set {
  width: 50px;
  height: 50px;
  position: relative;
  background: transparent;
  border: none;
  background-repeat: no-repeat;
}

.editor__set--crop {
  background-image: url("../img/crop.svg");
  background-position: 18% 40%;
}

.editor__set--fill {
  background-image: url("../img/fill.svg");
  background-position: 65% 47%;
}

.editor__set--contrast {
  background-image: url("../img/contrast.svg");
  background-position: 20% 50%;
}

.editor__range-group {
  @media (min-width: $breakpoint-medium) {
    grid-area: range-group;
    margin-top: 49px;
  }

  @media (min-width: $breakpoint-large) {
    margin-bottom: 0;
  }
}

.editor__range-control {
  position: relative;
  display: none;
  width: 240px;
  margin-left: 21px;
  padding-bottom: 27px;

  svg {
    position: absolute;

    path {
      fill: $pink;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    left: -42px;
    right: -39px;
    bottom: -1px;
    background-color: rgba($blue-700, 0.1);
    height: 1px;

    @media (min-width: $breakpoint-medium) {
      left: -17px;
      right: -18px;
      bottom: 7px;
    }
  }

  @media (min-width: $breakpoint-medium) {
    padding-top: 12px;
    grid-area: range-control;
    padding-left: 38px;
    margin-left: 42px;
  }

  @media (min-width: $breakpoint-large) {
    width: 361px;
    padding-left: 73px;
    padding-top: 12px;
    margin-left: 52px;
  }

  &--active {
    @media (max-width: $breakpoint-small-only) {
      display: block;
    }
  }

  &--crop {
    svg {
      @media (max-width: $breakpoint-small-only) {
        display: none;
      }
    }

    @media (min-width: $breakpoint-medium) {
      display: block;
      padding-bottom: 37px;

      svg {
        top: 17px;
        left: -13px;
      }
    }

    @media (min-width: $breakpoint-large) {
      svg {
        width: 44px;
        height: 44px;
        top: 5px;
        left: -19px;
      }
    }
  }

  &--fill {
    @media (min-width: $breakpoint-medium) {
      display: block;
      padding-bottom: 34px;

      svg {
        top: 18px;
        left: -14px;
      }
    }

    @media (min-width: $breakpoint-large) {
      svg {
        width: 48px;
        height: 43px;
        top: 5px;
        left: -19px;
      }
    }
  }

  &--contrast {
    @media (min-width: $breakpoint-medium) {
      display: block;
      padding-bottom: 35px;

      svg {
        top: 20px;
        left: -10px;
      }
    }

    @media (min-width: $breakpoint-large) {
      svg {
        width: 32px;
        height: 32px;
        top: 11px;
        left: -13px;
      }
    }
  }
}

.editor__button {
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 25px;
  }

  @media (min-width: $breakpoint-large) {
    margin-bottom: 40px;
    width: 183px;
    margin-right: 44px;
  }
}
