.form__header {
  @include wrapper;
}

.form__intro {
  line-height: 30px;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 21px;

  @media (max-width: $breakpoint-small-only) {
    span {
      display: none;
    }
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 72px;
    padding-bottom: 54px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 18px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

.form__contest-form {
  @media (min-width: $breakpoint-medium) {
    @include wrapper;
    display: grid;
    column-gap: 75px;
  }

  @media (min-width: $breakpoint-large) {
    @include wrapper;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name-info app" "contacts contacts"
      "achievements achievements"
      "feedback feedback";
    column-gap: 66px;
  }
}

.form__group-wrapper--name-info {
  @media (min-width: $breakpoint-medium) {
    order: 1;
  }

  @media (min-width: $breakpoint-large) {
    grid-area: name-info;
    padding-top: 21px;
  }
}

.form__group-wrapper--app {
  @media (max-width: $breakpoint-small-only) {
    background: $grey-200;
  }

  @media (min-width: $breakpoint-medium) {
    order: 2;
  }

  @media (min-width: $breakpoint-large) {
    grid-area: app;
  }
}

.form__group-wrapper--contacts {
  padding-top: 32px;
  padding-bottom: 25px;

  @media (min-width: $breakpoint-medium) {
    order: 3;
    padding-bottom: 52px;
    padding-top: 52px;
  }

  @media (min-width: $breakpoint-large) {
    grid-area: contacts;
    padding-top: 1px;
  }
}

.form__group-wrapper--achievements {
  @media (max-width: $breakpoint-small-only) {
    background: $grey-200;
  }

  @media (min-width: $breakpoint-medium) {
    order: 4;
  }

  @media (min-width: $breakpoint-large) {
    grid-area: achievements;
  }
}

.form__group-wrapper--feedback {
  @media (min-width: $breakpoint-medium) {
    order: 5;
    padding-top: 67px;
  }

  @media (min-width: $breakpoint-large) {
    grid-area: feedback;
  }
}

.form__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $breakpoint-medium) {
    padding-top: 15px;
    padding-left: 55px;
    padding-right: 55px;
    display: grid;
  }

  &--name-info {
    padding: 0 0 26px 0;

    @media (min-width: $breakpoint-medium) {
      padding: 0;

      .form__item {
        display: grid;
        grid-template-columns: min-content 1fr;
        padding-bottom: 52px;
      }
    }
  }

  &--app {
    .form__item {
      padding-bottom: 45px;
    }

    @media (min-width: $breakpoint-medium) {
      padding-top: 43px;
      padding-left: 47px;
      padding-bottom: 13px;
    }

    @media (min-width: $breakpoint-large) {
      padding-left: 63px;
      padding-bottom: 15px;
    }
  }

  &--achievements {
    @media (min-width: $breakpoint-medium) {
      padding-top: 40px;
    }

    @media (max-width: $breakpoint-before-large) {
      display: flex;
      flex-direction: column;

      :nth-child(3n - 1) {
        order: 1;
      }

      :nth-child(3n) {
        order: 2;
      }
    }

    @media (min-width: $breakpoint-large) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 40px;
      padding-right: 0;

      :nth-child(2) {
        .checkbox-field__label {
          padding-left: 69px;

          &::before {
            left: 12px;
          }
        }

        .checkbox-field__input:checked + .checkbox-field__label::after {
          left: 20px;
        }
      }

      :nth-child(5) {
        .checkbox-field__label {
          padding-left: 69px;

          &::before {
            left: 12px;
          }
        }

        .checkbox-field__input:checked + .checkbox-field__label::after {
          left: 20px;
        }
      }
    }
  }

  &--contacts {
    @media (min-width: $breakpoint-medium) {
      padding-top: 31px;

      .form__item {
        display: grid;
        padding-bottom: 24px;
      }

      .form__label {
        order: 1;
        padding-left: 20px;
        padding-top: 9px;
      }
    }

    @media (min-width: $breakpoint-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 72px;
      padding-top: 29px;

      .form__item {
        padding-bottom: 6px;
      }
    }
  }
}

.form__group-title {
  text-transform: uppercase;
  color: $pink;
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: $breakpoint-small-only) {
    padding-top: 38px;
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $breakpoint-medium) {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
  }

  &--textarea {
    font-size: inherit;
    font-weight: inherit;

    @media (min-width: $breakpoint-medium) {
      position: absolute;
      top: -17px;
      padding-left: 38px;
      padding-right: 38px;
      background-color: $white;
      left: calc(50% - 130px);
    }

    @media (max-width: $breakpoint-small-only) {
      padding-top: 25px;
      margin-bottom: 16px;
    }
  }
}

.form__group {
  border: none;
  padding: 0;

  @media (max-width: $breakpoint-small-only) {
    @include wrapper;
  }

  @media (min-width: $breakpoint-medium) {
    border: 2px solid $grey-100;
    border-radius: 1px;
  }

  &--name-info {
    .form__label {
      align-self: center;
    }
    border: none;
  }

  &--contacts {
    .form__group-title {
      @media (max-width: $breakpoint-small-only) {
        @include visually-hidden;
      }
    }
  }

  &--achievements {
    @media (min-width: $breakpoint-large) {
      padding-bottom: 8px;
    }
  }

  &--feedback {
    padding-bottom: 24px;
    position: relative;

    @media (min-width: $breakpoint-medium) {
      padding-bottom: 29px;
    }

    @media (min-width: $breakpoint-large) {
      padding-bottom: 27px;
    }

    .form__item {
      text-align: center;

      @media (min-width: $breakpoint-large) {
        padding-bottom: 9px;
      }
    }
  }
}

.form__item {
  padding-bottom: 17px;

  @media (min-width: $breakpoint-medium) {
    &--phone {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        background-image: url("../img/phone.svg");
        top: 2px;
        right: 1px;
      }
    }

    &--email {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        background-image: url("../img/email.svg");
        top: 1px;
        right: 1px;
      }
    }
  }
}

.form__input {
  @media (max-width: $breakpoint-small-only) {
    width: 100%;
  }
}

.form__submit-group {
  display: grid;
  gap: 30px;

  @media (max-width: $breakpoint-small-only) {
    @include wrapper;
  }

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: 1fr 1fr;
    margin-top: 55px;
    margin-bottom: 38px;
  }

  @media (min-width: $breakpoint-large) {
    margin-bottom: 0;
  }
}

.form__submit-button {
  @media (min-width: $breakpoint-medium) {
    width: 300px;
    align-self: center;
  }
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 56px;

  @media (min-width: $breakpoint-medium) {
    justify-self: end;
    padding-top: 30px;
    padding-bottom: 27px;
  }

  &--short {
    @media (max-width: $breakpoint-before-large) {
      @include visually-hidden;
    }
  }
}

.form__required-sign {
  color: $pink;
}
