.form-button {
  color: $white;
  background-color: $green-300;
  border: transparent;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
  padding-top: 21px;

  &:hover {
    background-color: $green-500;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $grey-200;
  }
}
