.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  top: 15px;
  left: calc(50% + 80px);
  width: 70px;
  height: 40px;

  &:hover {
    &::before {
      background-color: $pink;
      box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
    }
  }

  &:active {
    &::before {
      background-color: rgba($pink, 0.3);
      box-shadow: 0 10px 0 0 rgba($pink, 0.3), 0 20px 0 0 rgba($pink, 0.3);
    }
  }

  @media (min-width: $breakpoint-medium) {
    top: 35px;
    left: calc(50% + 250px);
  }

  @media (min-width: $breakpoint-large) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}

.main-nav--opened .main-nav__toggle {
  width: 40px;
  height: 40px;
  left: calc(50% + 108px);

  @media (min-width: $breakpoint-medium) {
    left: calc(50% + 278px);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 5px;
    width: 30px;
    height: 2px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .site-list__item {
  @media (max-width: $breakpoint-before-large) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
