.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  background: none;
  border: none;
  top: 15px;
  left: calc(50% + 80px);
  width: 70px;
  height: 40px;

  &:hover {
    &::before {
      background-color: $pink;
      box-shadow: 0 10px 0 0 $pink, 0 20px 0 0 $pink;
    }
  }

  &:active {
    &::before {
      background-color: rgba($pink, 0.3);
      box-shadow: 0 10px 0 0 rgba($pink, 0.3), 0 20px 0 0 rgba($pink, 0.3);
    }
  }

  @media (min-width: $breakpoint-medium) {
    top: 35px;
    left: calc(50% + 250px);
  }

  @media (min-width: $breakpoint-large) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
}
