.map {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $white;
    top: -1px;

    clip-path: polygon(50% 14%, 0 0, 100% 0);

    @media (min-width: $breakpoint-medium) {
      clip-path: polygon(50% 18%, 0 0, 100% 0);
    }

    @media (min-width: 1200px) {
      clip-path: polygon(50% 20%, 0 0, 100% 0);
    }
  }

  @media (min-width: $breakpoint-medium) {
    padding-bottom: 0;
  }
}

.map__frame {
  background-image: url("../img/map-small.png");
  width: 100%;
  height: 200px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-small@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: $breakpoint-medium) {
    height: 374px;
    background-image: url("../img/map-medium.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-medium@2x.png");
      background-size: 660px auto;
    }
  }

  @media (min-width: $breakpoint-large) {
    height: 497px;
    background-image: url("../img/map-large.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-large@2x.png");
      background-size: 1200px auto;
    }
  }
}
