.modal {
  display: none;
}

.modal__caption {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding-top: 44px;
  padding-bottom: 37px;
}

.modal__text {
  text-align: center;
  padding-bottom: 50px;
}
