.page-footer__wrapper {
  @include wrapper;
  padding-bottom: 32px;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 20px;
    padding-bottom: 40px;

    &--catalog {
      padding-top: 62px;
    }
  }
}

.page-footer__logo {
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    margin-top: -6px;
  }

  @media (min-width: $breakpoint-large) {
    svg {
      width: 147px;
    }
  }
}

.page-footer__logo-image {
  fill: $blue-700;

  &:hover {
    fill: $pink;
  }

  &:active {
    opacity: 30%;
    fill: $blue-700;
  }

  &--medium {
    @media (min-width: $breakpoint-large) {
      display: none;
    }
  }

  &--large {
    @media (max-width: $breakpoint-before-large) {
      display: none;
    }
  }
}

.page-footer__social {
  padding-top: 31px;
  padding-bottom: 26px;

  @media (min-width: $breakpoint-medium) {
    padding-right: 15px;
    padding-top: 36px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 21px;
    padding-top: 38px;
  }
}

.page-footer__copyright {
  @media (min-width: $breakpoint-medium) {
    padding-top: 13px;
  }
}
