.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__page-header {
  margin-bottom: -69px;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: -107px;
  }

  @media (min-width: $breakpoint-large) {
    margin-bottom: 0;
  }
}
