.page-header {
  position: relative;
  background-color: $blue-700;

  @media (min-width: $breakpoint-large) {
    background-color: transparent;
    z-index: 5;
  }
}

.page-header--transparent {
  background-color: rgba($black, 0.3);
}

.page-header__wrapper {
  @media (min-width: $breakpoint-large) {
    position: absolute;
    width: 100%;
    margin-bottom: -110px;
    background-color: rgba($black, 0.3);
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-content: center;

    column-gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-header__logo {
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
  padding-bottom: 15px;

  @media (min-width: $breakpoint-medium) {
    width: $breakpoint-medium;
    padding-top: 27px;
    padding-bottom: 34px;

    svg {
      width: 145px;
      height: 40px;
    }
  }

  @media (min-width: $breakpoint-large) {
    width: 100%;
    align-self: start;
    padding-top: 26px;
    padding-left: 120px;

    svg {
      width: 147px;
    }
  }
}

.page-header__logo-image {
  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: rgba($white, 0.3);
  }

  &--small {
    @media (min-width: $breakpoint-medium) {
      display: none;
    }
  }

  &--medium {
    @media (max-width: $breakpoint-small-only) {
      display: none;
    }

    @media (min-width: $breakpoint-large) {
      display: none;
    }
  }

  &--large {
    @media (max-width: $breakpoint-before-large) {
      display: none;
    }
  }
}
