.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $breakpoint-medium) {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px;
    justify-content: center;
    overflow: hidden;
  }

  @media (min-width: $breakpoint-large) {
    grid-template-columns: 300px 300px 300px;
    row-gap: 55px;
    column-gap: 20px;
  }
}

.photos__intro {
  line-height: 30px;

  @media (min-width: $breakpoint-medium) {
    font-size: 18px;
  }
}

.photos__intro-wrapper {
  @include wrapper;
  padding-top: 54px;
  padding-bottom: 60px;
  line-height: 30px;
  text-align: center;
  color: $blue-700;
}

.photos__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  &--best {
    grid-column: 1 / -1;
    width: auto;

    .photos__description {
      width: 280px;
      margin: 0 auto;
    }
  }

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 30px;
    min-height: 455px;
    width: 300px;

    &--best {
      width: 620px;
      min-height: 121px;
      flex-direction: row;

      .photos__description {
        width: auto;
      }

      .photos__like-group {
        margin-left: auto;
        padding-bottom: 0;
      }

      .photos__text {
        order: 1;
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    min-height: 555px;

    &--best {
      width: 940px;
      min-height: 96px;
    }
  }
}

.photos__image {
  @media (min-width: $breakpoint-medium) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $breakpoint-large) {
    width: 300px;
    height: 400px;
  }

  &--best {
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      width: 100vw;
      max-width: none;
      height: 509px;
      margin-left: 50%;
      object-fit: cover;
      transform: translate(-50%);
    }
  }
}

.photos__description {
  background-color: $grey-200;

  @media (min-width: $breakpoint-medium) {
    height: 155px;
  }
}

.photos__author-name {
  font-weight: 700;
  padding-left: 17px;
  color: $blue-700;
  padding-top: 25px;

  @media (min-width: $breakpoint-medium) {
    padding-top: 30px;
    padding-left: 30px;
  }
}

.photos__time {
  font-weight: 300;
  text-transform: uppercase;
  color: $blue-700;
  padding-left: 3px;
}

.photos__text {
  color: $blue-700;
  margin: 0;
  padding-left: 17px;
  padding-top: 15px;

  @media (min-width: $breakpoint-medium) {
    padding-left: 30px;
  }
}

.photos__like-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: auto;

  @media (min-width: $breakpoint-medium) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.photos__like-button {
  position: relative;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 3px 6px;

  @media (min-width: $breakpoint-medium) {
    order: 1;
    margin-left: auto;
  }
}

.photos__like-counter {
  color: $pink;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 10px;

  @media (min-width: $breakpoint-medium) {
    padding-left: 0;
  }
}
