.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $breakpoint-medium) {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 300px;
    justify-content: center;
    overflow: hidden;
  }

  @media (min-width: $breakpoint-large) {
    grid-template-columns: 300px 300px 300px;
    row-gap: 54px;
    column-gap: 20px;
  }
}

.photos__intro {
  line-height: 30px;
  margin: 0;

  @media (min-width: $breakpoint-medium) {
    font-size: 18px;
  }
}

.photos__intro-wrapper {
  @include wrapper;
  padding-top: 44px;
  padding-bottom: 50px;
  padding-left: 37px;
  padding-right: 40px;
  text-align: center;
  color: $blue-700;

  @media (min-width: $breakpoint-medium) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 91px;
    padding-bottom: 77px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 89px;
  }
}

.photos__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  &--best {
    grid-column: 1 / -1;
    width: auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 140px;
      height: 36px;
      background-image: url("../img/best-photo.svg");
      top: 0;
      right: 20px;

      @media (min-width: $breakpoint-medium) {
        top: 57px;
        right: 0;
      }

      @media (min-width: $breakpoint-large) {
        top: 54px;
        right: 0;
      }
    }

    .photos__description {
      width: 280px;
      margin: 0 auto;

      @media (min-width: $breakpoint-medium) {
        padding-top: 23px;
        padding-left: 30px;
        padding-bottom: 19px;
        flex-direction: row;
      }

      @media (min-width: $breakpoint-large) {
        padding-left: 28px;
      }
    }
  }

  @media (min-width: $breakpoint-medium) {
    min-height: 455px;
    width: 300px;
    margin-bottom: 0;

    &--best {
      width: 620px;
      flex-direction: row;
      margin-bottom: 30px;

      .photos__description {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 22px;
        padding-bottom: 24px;
        height: auto;
      }

      .photos__author-name {
        padding-top: 2px;
      }

      .photos__like-group {
        margin-left: auto;
        padding-top: 0;
        padding-right: 28px;
        margin-right: 0;
        margin-top: 3px;
      }

      .photos__text {
        order: 1;
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    min-height: 555px;

    &--best {
      width: 940px;
      margin-bottom: -4px;
    }
  }
}

.photos__image {
  display: block;

  @media (min-width: $breakpoint-medium) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $breakpoint-large) {
    width: 300px;
    height: 400px;
  }

  &--best {
    width: 100%;

    @media (min-width: $breakpoint-medium) {
      width: 100vw;
      max-width: none;
      height: 509px;
      margin-left: 50%;
      object-fit: cover;
      transform: translate(-50%);
    }

    @media (min-width: $breakpoint-large) {
      height: 506px;
    }
  }
}

.photos__description {
  background-color: $grey-200;
  padding-top: 18px;
  padding-left: 16px;
  padding-bottom: 19px;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 23px;
    padding-left: 30px;
    padding-bottom: 23px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 28px;
  }
}

.photos__author-name {
  font-weight: 700;
  color: $blue-700;
}

.photos__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  color: $blue-700;
}

.photos__text {
  color: $blue-700;
  margin: 0;
}

.photos__like-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 10px;
  margin-top: auto;

  @media (min-width: $breakpoint-medium) {
    margin-right: 26px;
  }
}

.photos__like-button {
  position: relative;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 3px 6px;

  @media (min-width: $breakpoint-medium) {
    order: 1;
    margin-left: auto;
  }
}

.photos__like-counter {
  color: $pink;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 13px;
  padding-right: 10px;

  @media (min-width: $breakpoint-medium) {
    padding-left: 0;
  }
}
