.range-control {
  position: relative;
}

.range-control__input {
  appearance: none;
  width: 100%;
  background: transparent;
  height: 32px;

  &--crop {
    @media (min-width: $breakpoint-medium) {
      height: 55px;
    }
  }

  &--fill {
    @media (min-width: $breakpoint-medium) {
      height: 77px;
    }
  }

  &--contrast {
    @media (min-width: $breakpoint-medium) {
      height: 50px;
    }
  }
}

.range-control__input::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid $pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  margin-top: -6px;
}

.range-control__input:active::-webkit-slider-thumb {
  background-color: $pink;
}

.range-control__input::-moz-range-thumb {
  border: 2px solid $pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
  box-sizing: border-box;
}

.range-control__input:active::-moz-range-thumb {
  background-color: $pink;
}

.range-control__input::-ms-thumb {
  border: 2px solid $pink;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $white;
  cursor: pointer;
}

.range-control__input:active::-ms-thumb {
  background-color: $pink;
}

.range-control__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $black;
}

.range-control__input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $black;
}

.range-control__input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-control__input::-ms-fill-lower {
  background: $black;
}

.range-control__input::-ms-fill-upper {
  background: $black;
}
