.research {
  display: none;
  padding-top: 50px;
  padding-bottom: 100px;

  @media (min-width: $breakpoint-medium) {
    display: flex;
    padding-left: 310px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 370px;
    background-color: $grey-200;
  }
}

.research__wrapper {
  @include wrapper;
}


.research__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.research__info {
  font-size: 18px;
  line-height: 30px;
}

.research__link {
  font-size: 18px;
  line-height: 30px;
  color: $pink;
  text-decoration: underline;
}
