.research {
  display: none;
}

.research__wrapper {
  padding-top: 50px;
  padding-bottom: 100px;
}

.research__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.research__info {
  font-size: 18px;
  line-height: 30px;
}

.research__link {
  font-size: 18px;
  line-height: 30px;
  color: $pink;
  text-decoration: underline;
}
