.reviews__wrapper {
  @include wrapper;
  position: relative;
  padding-top: 40px;
  padding-bottom: 36px;

  @media (min-width: $breakpoint-medium) {
    padding-bottom: 13px;
  }

  @media (min-width: $breakpoint-large) {
    padding-top: 170px;
  }
}

.reviews__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  display: block;

  @media (min-width: $breakpoint-medium) {
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $breakpoint-large) {
    order: 2;
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;
  color: $blue-700;
  text-align: center;

  @media (min-width: $breakpoint-medium) {
    display: block;
    order: 3;
    margin-top: 2px;
  }

  @media (min-width: $breakpoint-large) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__text {
  margin-top: 14px;
  margin-bottom: 30px;
  color: $blue-700;
  text-align: center;
  line-height: 30px;
  display: block;

  @media (min-width: $breakpoint-medium) {
    order: 1;
    font-size: 18px;
    margin-bottom: 36px;
  }

  @media (min-width: $breakpoint-large) {
    padding-left: 85px;
    padding-right: 85px;

    &::before {
      position: absolute;
      content: "";
      width: 79px;
      height: 63px;
      background-image: url("../img/quotes.svg");
      top: 72px;
      left: 441px;
    }
  }
}

.reviews__button {
  display: none;

  @media (min-width: $breakpoint-large) {
    display: block;
    position: absolute;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 10%;
    }


    &--previous {
      top: 213px;
      left: 0;
      background-image: url("../img/left-arrow.svg");
      background-position-x: 50%;
    }

    &--next {
      top: 213px;
      right: 0;
      background-image: url("../img/right-arrow.svg");
      background-position-x: 50%;
    }
  }
}

.reviews__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $breakpoint-medium) {
    padding-top: 25px;
  }

  @media (min-width: $breakpoint-large) {
    display: none;
  }

  button {
    margin-left: 6px;
    margin-right: 11px;
    align-self: center;
  }
}
