.site-list {
  @media (min-width: $breakpoint-large) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

.site-list__item {
  background-color: $blue-700;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 14px;
  color: $white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid $grey-500;
  border-bottom: 1px solid $black;

  @media (max-width: $breakpoint-before-large) {
    &:first-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        color: $black;
        top: 0;
        left: 0;
        right: 0;
      }
    }
  }

  a {
    color: $white;
  }

  a:hover {
    color: $pink;
  }

  a:active {
    color: rgba($pink, 0.3);
  }

  @media (min-width: $breakpoint-large) {
    background-color: transparent;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    border: none;
    padding-left: 79px;
    padding-top: 46px;
    padding-bottom: 46px;

    &:first-child {
      padding-left: 0;
    }

    a:active {
      color: rgba($white, 0.3);
    }

    &--current a {
      @media (min-width: $breakpoint-large) {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -9px;
          right: 0;
          height: 2px;
          background-color: $white;
        }
      }
    }
  }
}
