.site-list {
  @media (min-width: $breakpoint-large) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

.site-list__item {
  background-color: $blue-700;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 14px;
  color: $white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid $grey-500;
  border-bottom: 1px solid $black;

  @media (min-width: $breakpoint-large) {
    background-color: transparent;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    border: none;
    padding-left: 79px;
    padding-top: 44px;
    padding-bottom: 50px;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    color: $white;
  }

  &--current a {
    @media (min-width: $breakpoint-large) {
      padding-bottom: 10px;
      border-bottom: 2px solid $white;
    }
  }
}
