.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__costs {
  padding-top: 28px;
  padding-bottom: 33px;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }

  button {
    margin: 0 8px;
    align-self: center;
  }
}

.slider__reviews {
  @media (min-width: $breakpoint-medium) {
    padding-top: 25px;
  }

  @media (min-width: $breakpoint-large) {
    display: none;
  }

  button {
    margin-left: 6px;
    margin-right: 11px;
    align-self: center;
  }
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: flex;
}

.slider__toggle {
  position: relative;
  padding: 0;
  border: none;
  width: 6px;
  height: 6px;
  background-color: rgba($blue-700, 0.3);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba($blue-700, 0.6);
  }

  &:active {
    background-color: rgba($blue-700, 0.1);
  }

  &--current {
    background-color: $white;
    border: 3px solid $blue-700;
    box-sizing: content-box;
  }
}
