.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  padding-left: 5px;
  padding-right: 4px;

  @media (min-width: $breakpoint-large) {
    justify-content: stretch;

    &:first-child,
    &:last-child {
      padding: 0;
    }
  }
}

.social__icon:hover {
  circle {
    opacity: 100%;
  }
}

.social__icon:active {
  path {
    opacity: 30%;
  }

  circle {
    opacity: 10%;
  }
}
