$white: #ffffff;

$black: #000000;

$blue-500: #1d2631;
$blue-700: #283645;

$pink: #d22856;

$red: #f25b26;

$grey-100: #e5e5e5;
$grey-200: #f2f2f2;
$grey-500: rgba(255, 255, 255, 0.15);

$green-300: #2aab6d;
$green-500: #1c9b5e;
$green-700: #3dc644;

$modal-shadow: rgba(0, 1, 1, 0.15);

$breakpoint-small-only: 659px;
$breakpoint-before-large: 959px;
$breakpoint-medium: 660px;
$breakpoint-large: 960px;
