$white: #ffffff;
$white-opacity-3: rgba(255, 255, 255, 0.3);

$black: #000000;
$black-opacity-3: rgba(0, 0, 0, 0.3);


$blue-500: #1d2631;
$blue-700: #283645;
$blue-700-opacity-6: rgba(40, 54, 69, 0.6);
$blue-700-opacity-5: rgba(40, 54, 69, 0.5);
$blue-700-opacity-3: rgba(40, 54, 69, 0.3);
$blue-700-opacity-1: rgba(40, 54, 69, 0.1);


$pink: #d22856;
$pink-opacity-3: rgba(210, 40, 86, 0.3);

$grey-100: #e5e5e5;
$grey-200: #f2f2f2;
$grey-500: rgba(255, 255, 255, 0.15);

$green-300: #2aab6d;
$green-500: #1c9b5e;
