$white: #ffffff;

$black: #000000;

$blue-500: #1d2631;
$blue-700: #283645;

$pink: #d22856;

$grey-100: #e5e5e5;
$grey-200: #f2f2f2;
$grey-500: rgba(255, 255, 255, 0.15);

$green-300: #2aab6d;
$green-500: #1c9b5e;
